@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700;800&family=Roboto+Slab:wght@200;300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background: #f5f6fa;
}

@media screen and (min-width: 280px) {
  .main {
    padding: 50px;
    margin: 0;
  }

  .main-container {
    background: #fafafa;
    height: 100%;
    box-shadow: 0 1px 15px 1px rgb(184, 178, 178);
  }

  .nav-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 0 0 2.375rem 0;
    padding: 1.438rem 4.188rem 1.688rem 4.188rem;
    background-color: #fff;
  }

  .nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
  }

  .nav-links li {
    padding: 8px;
    margin: 10px;
  }

  .links {
    padding: 8px;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.913rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.9px;
    color: #121212;
  }

  .links:active {
    color: #0290ff !important;
  }

  .nav-logo {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.575rem;
    text-align: center;
    color: #0290ff;
    font-weight: 800;
  }

  .nav-icon {
    font-size: 25px;
    color: #0290ff;
  }

  .card-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto 2.375rem auto;
    padding: 11px;
    background-color: #fff;
    box-shadow: 0 1px 15px 1px rgb(184, 178, 178);
  }

  .info-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 20px;
    margin: 10px;
    border-bottom: 2px solid #e8e8e8;
  }

  .remove-div {
    margin-bottom: 29px;
  }

  .remove-div h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #888;
  }

  .remove-div h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 28px;
    margin: 8px 0 8px 0;
    font-weight: bold;
    color: #121212;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .remove-div p {
    font-family: 'Roboto Slab', serif;
    font-size: 19px;
    font-weight: 500;
    margin: 8px 0 8px 0;
    color: #4386bf;
  }

  .remove-btn {
    border: none;
    background: white;
    cursor: pointer;
    margin: 0 5px 0 0;
    padding: 0 9px 0 2px;
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    font-weight: 300;
    color: #4386bf;
    border-right: 1px solid black;
  }

  .remove-btn:last-child {
    border-right: none;
  }

  .complete-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .complete-div span {
    margin: 9px;
  }

  .complete-div span p {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: #121212;
  }

  .complete-div span p:first-child {
    font-size: 30px;
    font-weight: 500;
  }

  .oval {
    width: 4.25rem;
    height: 4.25rem;
    border-style: solid;
    border-width: 5px;
    border-color: #307bbe;
    border-image-slice: 1;
    border-radius: 50%;
    background-color: transparent !important;
  }

  .update-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .update-div h2 {
    font-size: 25px;
    font-weight: 600;
    font-family: 'Roboto Slab', serif;
    margin: 5px 0 5px 0;
    color: #121212;
  }

  .update-div h2:first-child {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 19px;
    font-weight: 300;
    margin: 5px 0 5px 0;
    color: #121212;
  }

  .update-btn {
    font-family: 'Roboto Slab', serif;
    width: 90%;
    color: white;
    border: 1px solid;
    margin: 5px 0 5px 0;
    padding: 0.438rem 1.188rem 0.5rem 1.375rem;
    border-radius: 3px;
    background-color: #0290ff;
    transition: 0.5s;
  }

  .update-btn:hover {
    background-color: #102f46;
  }

  .form-container {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 2.375rem 0 0 0;
    padding: 13px;
  }

  .line {
    width: 84%;
    margin: 30px auto 0 auto;
    border: 1px solid #c4c4c4;
  }

  .form-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .form-heading h1 {
    height: 1.5rem;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    color: #888;
    width: 100%;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 0 1.688rem 0;
  }

  #title {
    width: 100%;
    text-align: center;
    height: 2.813rem;
    margin: 1.188rem 0 1.4rem 0;
    padding: 0.375rem 0.938rem 0.563rem 1rem;
    border-radius: 4px;
    border: 1px solid #e8e8e8;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.15px;
  }

  #title:focus {
    outline: 1px solid #0290ff;
  }

  #author {
    width: 100%;
    text-align: center;
    height: 2.813rem;
    margin: 1.188rem 0 1.4rem 0;
    padding: 0.375rem 0.938rem 0.563rem 1rem;
    border-radius: 4px;
    border: 1px solid #e8e8e8;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.15px;
  }

  #author:focus {
    outline: 1px solid #0290ff;
  }

  .category-container {
    height: 90vh;
  }

  .category-container ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    list-style: square;
    width: 90%;
    margin: 0 auto 2.375rem auto;
    background-color: #457397;
    color: white;
    box-shadow: 0 1px 15px 1px rgb(184, 178, 178);
  }

  .category-container ul li {
    width: 40%;
    margin: 10px 0 10px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.15px;
    cursor: pointer;
    text-align: center;
  }

  .category-container ul li:hover {
    text-decoration: underline;
  }

  #categorybtn {
    width: 100%;
    text-align: center;
    height: 2.813rem;
    margin: 1.188rem 0 1.4rem 0;
    padding: 0.375rem 0.938rem 0.563rem 1rem;
    border-radius: 4px;
    border: 1px solid #e8e8e8;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.15px;
  }

  #categorybtn:focus {
    outline: 1px solid #0290ff;
  }

  .add-book-btn {
    width: 80%;
    height: 2.813rem;
    margin: 1.188rem 0 1.4rem 0;
    padding: 0.801rem 1.188rem 0.886rem 1.375rem;
    border: 1px solid;
    border-radius: 3px;
    background-color: #0290ff;
    font-family: 'Roboto Slab', serif;
    font-size: 0.813rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
  }

  .add-book-btn:hover {
    background-color: #102f46;
  }

  .category-btn {
    height: 1.5rem;
    margin: 0 0 0 32rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.18px;
    color: #888;
  }
}

@media screen and (min-width: 768px) {
  .nav-logo {
    font-size: 2.3rem;
  }

  .card-container {
    flex-direction: row;
  }

  .info-div {
    flex-direction: row;
    justify-content: space-between;
    border-right: 2px solid #e8e8e8;
    border-bottom: none;
  }

  .remove-div {
    text-align: left;
  }

  .remove-div h2 {
    justify-content: left;
  }

  .update-div {
    width: 50%;
  }

  .update-btn {
    width: 50%;
  }

  .input-container {
    flex-direction: row;
  }

  .form-heading {
    width: 90%;
  }

  .form-heading h1 {
    text-align: left;
  }

  #title {
    width: 30%;
    margin-right: 8px;
    text-align: left;
  }

  #author {
    width: 25%;
    margin-right: 8px;
    text-align: left;
  }

  #categorybtn {
    width: 15%;
    margin-right: 8px;
  }

  .add-book-btn {
    width: 20%;
  }

  .category-container ul {
    flex-direction: row;
  }

  .category-container ul li {
    text-align: left;
    font-size: 1.5rem;
    margin: 30px 0 30px 0;
  }
}

@media screen and (min-width: 909px) {
  .nav-container {
    justify-content: space-between;
  }

  .complete-div {
    flex-direction: row;
  }
}
