@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700;800&family=Roboto+Slab:wght@200;300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background: #f5f6fa;
}

.main {
  padding: 50px;
  margin: 0;
}

.main-container {
  background: #fafafa;
  height: 100%;
  box-shadow: 0 1px 15px 1px rgb(184, 178, 178);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5.938rem;
  margin: 0 0 2.375rem 0;
  padding: 1.438rem 4.188rem 1.688rem 4.188rem;
  background-color: #fff;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav-links li {
  padding: 8px;
  margin: 10px;
}

.links {
  padding: 8px;
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.913rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
}

.links:active {
  color: #0290ff !important;
}

.nav-logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.275rem;
  color: #0290ff;
  font-weight: 800;
}

.nav-icon {
  font-size: 25px;
  color: #0290ff;
}

.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto 2.375rem auto;
  padding: 1.438rem 4.188rem 1.688rem 4.188rem;
  background-color: #fff;
  box-shadow: 0 1px 15px 1px rgb(184, 178, 178);
}

.info-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 20px;
  margin: 10px;
  border-right: 2px solid #e8e8e8;
}

.remove-div h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #888;
}

.remove-div h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 28px;
  margin: 8px 0 8px 0;
  font-weight: bold;
  color: #121212;
  display: flex;
  flex-wrap: wrap;
}

.remove-div p {
  font-family: 'Roboto Slab', serif;
  font-size: 19px;
  font-weight: 500;
  margin: 8px 0 8px 0;
  color: #4386bf;
}

.remove-btn {
  border: none;
  background: white;
  cursor: pointer;
  margin: 0 5px 0 0;
  padding: 0 9px 0 2px;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 300;
  color: #4386bf;
  border-right: 1px solid black;
}

.remove-btn:last-child {
  border-right: none;
}

.complete-div {
  display: flex;
}

.complete-div span {
  margin: 9px;
}

.complete-div span p {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: #121212;
}

.complete-div span p:first-child {
  font-size: 30px;
  font-weight: 500;
}

.oval {
  width: 4.25rem;
  height: 4.25rem;
  border-style: solid;
  border-width: 5px;
  border-color: #307bbe;
  border-image-slice: 1;
  border-radius: 50%;
  background-color: transparent !important;
}

.update-div {
  width: 20%;
}

.update-div h2 {
  font-size: 25px;
  font-weight: 600;
  font-family: 'Roboto Slab', serif;
  margin: 8px 0 8px 0.9rem;
  color: #121212;
}

.update-div h2:first-child {
  font-family: 'Roboto Slab', serif;
  font-size: 19px;
  font-weight: 300;
  margin: 8px 0 8px 0.9rem;
  color: #121212;
}

.update-btn {
  font-family: 'Roboto Slab', serif;
  width: 11.5rem;
  color: white;
  border: 1px solid;
  height: 2.063rem;
  margin: 0.75rem 0 0.563rem 0.9rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  transition: 0.5s;
}

.update-btn:hover {
  background-color: #102f46;
}

.form-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 2.375rem 0 0 0;
  padding: 1.438rem 4.188rem 1.688rem 4.188rem;
}

.line {
  width: 84%;
  margin: 30px auto 0 auto;
  border: 1px solid #c4c4c4;
}

.form-heading {
  display: flex;
  width: 100%;
  padding: 0 4.188rem 0 1.388rem;
}

.form-heading h1 {
  height: 1.5rem;
  margin: 0 32.75rem 0 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}

.input-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 0 1.688rem 0;
}

#title {
  width: 30%;
  height: 2.813rem;
  margin: 1.188rem 0 0 1.4rem;
  padding: 0.375rem 0.938rem 0.563rem 1rem;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.15px;
}

#title:focus {
  outline: 1px solid #0290ff;
}

#author {
  width: 20%;
  height: 2.813rem;
  margin: 1.188rem 0 0 1.125rem;
  padding: 0.375rem 0.938rem 0.563rem 1rem;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.15px;
}

#author:focus {
  outline: 1px solid #0290ff;
}

#category{
  width: 20%;
  height: 2.813rem;
  margin: 1.188rem 0 0 1.125rem;
  padding: 0.375rem 0.938rem 0.563rem 1rem;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.15px;
}

#category:focus {
  outline: 1px solid #0290ff;
}

.add-book-btn {
  width: 15.5rem;
  height: 2.813rem;
  margin: 1.188rem 0 0 1.125rem;
  padding: 0.801rem 1.188rem 0.886rem 1.375rem;
  border: 1px solid;
  border-radius: 3px;
  background-color: #0290ff;
  font-family: 'Roboto Slab', serif;
  font-size: 0.813rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}

.add-book-btn:hover {
  background-color: #102f46;
}

.category-btn {
  height: 1.5rem;
  margin: 0 0 0 32rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}
